# Python Basics — Part I  
### *Student Practice Notebook*

After today’s live lesson, use this notebook to **practice** the core concepts.

*Work through each section in order. Complete the exercises where you see **TODO** markers.*

**Covered Concepts**

1. Data types & variables  
2. Operators & expressions  
3. Strings  
4. Lists (plus tuples & sets)  
5. Dictionaries  
6. Control flow (if/else, loops)  
7. Applying basics to small datasets

## 1  Data Types & Variables

Below are some examples we discussed. Run each cell, then modify the code (values, operators) and re‑run to observe changes.

In [ ]:
# Try changing these variables and explore type()
an_int = 42
a_float = 3.14159
a_string = "Data Science"
is_data_fun = True

print(type(an_int), an_int)
print(type(a_float), a_float)
print(type(a_string), a_string)
print(type(is_data_fun), is_data_fun)

## 2  Operators & Expressions

In [ ]:
# Experiment with arithmetic, comparison, logical operators
a, b = 7, 3
print("a + b =", a + b)
print("a ** b =", a ** b)
print("a > b and b > 0", (a > b) and (b > 0))

### Exercise 1 — Even & Range Test  
Write code that tests whether a number `n` is **even** *and* between 10 and 30 (inclusive).  
Store the boolean result in `is_valid` and print it.

**TODO:** complete the cell.

In [ ]:
# TODO: even & range test
n = ...
is_valid = ...
print(is_valid)

### Exercise 2 — BMI Calculator  
Create two variables:

* `height_cm`- your height in centimeters  
* `weight_kg`- your weight in kilograms  

Then compute and print your **Body Mass Index (BMI)** with  


$$\text{BMI} = \frac{\text{weight_kg}}{(\text{height_cm}/100)^2}$$


**TODO:** edit the cell below.

In [ ]:
# TODO: calculate BMI
height_cm = ...
weight_kg = ...
bmi = ...
print("BMI:", bmi)

**TODO:** edit the cell below. Can you "wrap" BMI in a function? Call the function "BMI_calculator" (link: https://www.w3schools.com/python/python_functions.asp)

## 3 Strings

In [ ]:
msg = "Data Science"
print(msg.upper())
print(msg[::-1])      # reverse
print(msg.split())    # split on whitespace

Create an f-string that reads "Hello, <your name>!" below Link: https://www.w3schools.com/python/python_string_formatting.asp

In [ ]:
# TODO: greeting f-string
name = ...
greeting = ...
print(greeting)

## 4  Lists

W3schools: https://www.w3schools.com/python/python_lists.asp

In [ ]:
temperatures = [21.0, 23.5, 19.8]
temperatures.append(22.3)
print(temperatures)

# Slice the list to get the last two readings
last_two = temperatures[-2:]
last_two

### Exercise 3 — Price Analysis  
Given `prices = [10.5, 8.0, 12.3, 9.99]`:

1. Compute and print the **average price**.  
2. Create a new list `under_10` with only prices < 10 (use a list comprehension).

**TODO:** implement below.

In [ ]:
# TODO: price analysis
prices = [10.5, 8.0, 12.3, 9.99]
avg_price = ...
under_10 = ...
print("Average:", avg_price)
print("Under $10:", under_10)

### Tuples & Sets — Quick Practice

Read more about Tuples here: https://www.w3schools.com/python/python_tuples.asp

In [ ]:
# Create a tuple 'coords' (latitude, longitude) and a set of unique words from a sentence
coords = ...
sentence = "spam spam eggs ham"
unique_words = ...
coords, unique_words

#### What is a tuple? Compare its function to a python list and explain why/when you might want to use a list or a tuple.

## 5  Dictionaries

Read more about dictionaries here: https://www.w3schools.com/python/python_dictionaries.asp

In [ ]:
population = {"Boston": 654776, "NYC": 8336817}
population["Chicago"] = 2705994

for city, pop in population.items():
    print(f"{city}: {pop:,} residents")

### Exercise 4 — Word Frequency  
Given `text = "the quick brown fox jumps over the lazy dog the the"`:

* Build a dictionary `freq` mapping each word to its count (ignore case).  
* Print the three most common words and counts.

*(Hint: loop over `text.split()` and use `dict.get`)*

**TODO:** write your solution.

In [ ]:
# TODO: word frequency
text = "the quick brown fox jumps over the lazy dog the the"
freq = {}
# your loop here

# print top 3

## 6  Control Flow

In [ ]:
# Example: count temps above threshold
temps = [21.0, 23.5, 19.8, 22.3]
threshold = 22.0
count = 0
for t in temps:
    if t > threshold:
        count += 1
print(count, "readings above", threshold)

### Exercise 5 — Step Tracker  
`steps = [8560, 10432, 7523, 9450, 11001, 6789, 8023]`

1. Use a **for loop** to compute total weekly steps.  
2. Use a **while loop** to find the first day with fewer than 8 000 steps.

**TODO:** complete the code.

In [ ]:
# TODO: step tracker
steps = [8560, 10432, 7523, 9450, 11001, 6789, 8023]
total = ...
print("Total steps:", total)

i = 0
# your while loop here

## 7  Mini‑Project — Tiny Review Analyzer

Work with the dataset of café reviews:

```python
reviews = [
    {"stars":5, "text":"Amazing coffee and ambiance."},
    {"stars":4, "text":"Great pastries, ok service."},
    {"stars":2, "text":"Coffee tasted burnt."},
    {"stars":5, "text":"My favorite café in town!"},
]
```

Tasks:

1. Compute average star rating (float).  
2. Print only 5‑star review texts.  
3. Build a word‑frequency dictionary across all reviews (case‑insensitive).  

**TODO:** tackle each sub‑task in the starter cell.

In [ ]:
# TODO: review analyzer
reviews = [
    {"stars":5, "text":"Amazing coffee and ambiance."},
    {"stars":4, "text":"Great pastries, ok service."},
    {"stars":2, "text":"Coffee tasted burnt."},
    {"stars":5, "text":"My favorite café in town!"},
]

# 1. average stars
avg_stars = ...
print("Average stars:", avg_stars)

# 2. five-star texts
five_star_texts = ...
print(five_star_texts)

# 3. word frequency
freqs = ...
print(freqs)