# Python Basics — Part I  
### *Follow along Copy*

## Learning Objectives  
By the end of this notebook, students should be able to:

1. Explain and identify core Python data types: **integers, floats, strings, booleans**.  
2. Create variables and understand Python’s dynamic typing.  
3. Use basic operators: arithmetic (`+`, `-`, `*`, `/`, `//`, `%`, `**`), comparison (`==`, `!=`, `<`, `>`), and logical (`and`, `or`, `not`).  
4. Build and manipulate **lists** and **dictionaries**.  
5. Control program flow with **if / elif / else** and **for / while** loops.  
6. Apply these fundamentals to simple, data‑oriented tasks such as summarizing a dataset.

## 1. Core Data Types
Python has several built‑in data types; for beginners, four core types are essential:
* **Numbers** (`int`, `float`)
* **Strings** (`str`)
* **Booleans** (`bool`)

Code below demonstrates how to create each type and query its type at runtime using `type()`.

In [ ]:
# Numbers
an_int = 42
a_float = 3.14159

# String
a_string = "Data Science"

# Boolean
is_data_fun = True

print(type(an_int), an_int)
print(type(a_float), a_float)
print(type(a_string), a_string)
print(type(is_data_fun), is_data_fun)

### Exercise 1  
Create two variables `height_cm` (your height in centimeters) and `weight_kg` (your weight in kilograms).  
Compute and print your Body Mass Index (BMI) with the formula  

$$
\mathrm{BMI}
\;=\;
\frac{ \mathrm{weight}_{\mathrm{kg}} }
     { \bigl(\mathrm{height}_{\mathrm{cm}}/100\bigr)^{2} }
$$

In [2]:
height_cm = 182
weight_kg = 66

bmi = weight_kg / ((height_cm / 100) ** 2)

print(bmi)

19.925129815239703

## 2. Variables & Dynamic Typing
In Python a *variable* is created by simply assigning a value:

```python
name = "Ada"
age = 36
```

Python is **dynamically typed** — a variable can reference any type and its type can change at runtime.

In [ ]:
x = 10          # int
print(x, type(x))
x = "ten"       # now str
print(x, type(x))

## 3. Basic Operators
### Arithmetic
| Operator | Meaning | Example | Result |
|---|---|---|---|
| `+` | Addition | `2 + 3` | `5` |
| `-` | Subtraction | `5 - 2` | `3` |
| `*` | Multiplication | `4 * 2` | `8` |
| `/` | True division | `5 / 2` | `2.5` |
| `//` | Floor division | `5 // 2` | `2` |
| `%` | Modulo (remainder) | `5 % 2` | `1` |
| `**` | Exponentiation | `2 ** 3` | `8` |

### Comparison & Logical  
`==`, `!=`, `<`, `>`, `<=`, `>=` return booleans, which you combine with `and`, `or`, `not`.

In [ ]:
a, b = 7, 3
print("a + b =", a + b)
print("a // b =", a // b)
print("a % b =", a % b)

print("a > b and b > 0:", a > b and b > 0)

### Exercise 2  
Write code that tests whether a number `n` is **even** and between 10 and 30 inclusive. Store the boolean in `is_valid` and print it.

In [1]:
def check_is_valid(n):
    if n % 2 == 0 and n >= 10 and n <= 30:
        return True
    return False

is_valid = check_is_valid(25)
print(is_valid)

False

## 4. Data Structures
Python’s most commonly used containers are **lists** and **dictionaries**.

* A **list** is an ordered collection:  
  `temperatures = [21.0, 23.5, 19.8]`
* A **dictionary** maps keys to values:  
  `population = {"Boston": 654776, "NYC": 8336817}`

In [1]:
temperatures = [21.0, 23.5, 19.8]
print("First reading:", temperatures[0])
temperatures.append(22.3)
print("All readings:", temperatures)

population = {"Boston": 654776, "NYC": 8336817}
population["Chicago"] = 2705994
print(population)

First reading: 21.0
All readings: [21.0, 23.5, 19.8, 22.3]
{'Boston': 654776, 'NYC': 8336817, 'Chicago': 2705994}

### Exercise 3  
1. Given `prices = [10.5, 8.0, 12.3, 9.99]`, compute the **average price**.  
2. Using the `population` dict above, write a loop that prints each city and its population on its own line in the format `"City: X residents"`.

In [2]:
prices = [10.5, 8.0, 12.3, 9.99]

average_price = sum(prices) / len(prices)
print(average_price)

for (city, pops) in population.items():
    print(f"{city}: {pops} residents")

10.1975
Boston: 654776 residents
NYC: 8336817 residents
Chicago: 2705994 residents

## 5. Control Flow
### `if / elif / else`
```python
if condition:
    ...
elif other_condition:
    ...
else:
    ...
```

### Loops  
`for` loops iterate over *iterables* (lists, dicts, ranges).  
`while` loops run until a condition becomes `False`.

In [ ]:
# Example: count temperature readings above a threshold
threshold = 22.0
count = 0
for t in temperatures:
    if t > threshold:
        count += 1
print(f"Readings above {threshold}°C:", count)

### Exercise 4  
The list below represents daily step counts.  
* Use a `for` loop to compute the total steps for the week.  
* Use a `while` loop to find the first day with fewer than 8 000 steps.

```python
steps = [8560, 10432, 7523, 9450, 11001, 6789, 8023]
```

In [4]:
steps = [8560, 10432, 7523, 9450, 11001, 6789, 8023]

total_steps = 0
for i in steps:
    total_steps += i
    
print(total_steps)

i = 0
while steps[i] >= 8000:
    i += 1
print(f"Day {i + 1} had fewer than 8000 steps ({steps[i]} steps)")

61778
Day 3 had fewer than 8000 steps (7523 steps)

## 6. Mini‑Project: Quick EDA on a Tiny Dataset

Suppose we have a CSV file `data/small_cities.csv`:

| city | population | median_income |
|------|------------|---------------|
| Boston | 654776 | 81235 |
| Portland | 653115 | 73549 |
| Providence | 189563 | 63412 |

We will:

1. **Read** the CSV with `pandas`.  
2. **Compute** the average population.  
3. **Filter** rows where median income exceeds \$75 000.

(We hard‑code the DataFrame below for portability.)

In [5]:
import pandas as pd

df = pd.DataFrame({
    "city": ["Boston", "Portland", "Providence"],
    "population": [654776, 653115, 189563],
    "median_income": [81235, 73549, 63412],
})
df

         city  population  median_income
0      Boston      654776          81235
1    Portland      653115          73549
2  Providence      189563          63412

In [6]:
avg_pop = df["population"].mean()
print(f"Average population: {avg_pop:,.0f}")

high_income = df[df["median_income"] > 75000]
high_income

Average population: 499,151

     city  population  median_income
0  Boston      654776          81235

## 7. Key Takeaways
* **Primitive types** underpin everything.  
* **Lists and dictionaries** are go‑to data containers.  
* **Control flow** lets us write logic that responds to data.  
* Combine these building blocks to perform **basic exploratory data analysis**.

---